body {
  margin: 0;
}

header {
  background-color: #00BCD4;
  padding: 10px;
  width: 100%;
  text-align: center;
}

aside {
  background-color: #FFC0CB;
  width: 20%;
  padding: 10px;
  float: left;
  height: 75.25vh;
  text-align: center;
}

main {
  background-color: #FFD700;
  position: static;
  padding: 10px;
  height: 75.25vh;
  width: 100%;
  text-align: center;
}

footer {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
  clear: both;
  width: 100%;
  position: relative;
  bottom: 0;
}