  table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    border: 2px solid black;
    padding: 7px;
    
  }
  .green {
    color: rgb(32, 194, 32);
    font-size: 15px;
  }
  .blue {
    color: blue;
  }
  .red {
    color: red;
  }